APP_PORT=8000
DEBUG=True

# API Keys for LangChain providers
OPENAI_API_KEY=sk-proj-XXX
OPENAI_DISRUPTION_MODEL=gpt-4o-mini
ANTHROPIC_API_KEY=your_anthropic_api_key_here


# LangSmith
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_XX
LANGSMITH_PROJECT="default"

# Database
DATABASE_URL=postgresql+asyncpg://app:app_password_123@localhost:5432/lieferrader_db
